<div class="layout-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Menú</h2>
    </div>

    <div class="menu-item" routerLink="/search-films" routerLinkActive="active">
      <div class="menu-icon">🔍</div>
      <div class="menu-text">Buscar</div>
    </div>

    <div class="menu-item" routerLink="/load-movies" routerLinkActive="active">
      <div class="menu-icon">⭐</div>
      <div class="menu-text">Recomendaciones</div>
    </div>

    <div class="menu-item" routerLink="/socialNetwork" routerLinkActive="active">
      <div class="menu-icon">👥</div>
      <div class="menu-text">Red Social</div>
    </div>

    <div class="menu-item" routerLink="/mylists" routerLinkActive="active">
      <div class="menu-icon">📋</div>
      <div class="menu-text">Mis Listas</div>
    </div>

    <div class="menu-item" routerLink="/settings" routerLinkActive="active">
      <div class="menu-icon">⚙️</div>
      <div class="menu-text">Ajustes</div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <div class="profile-summary">
      <img [src]="'assets/avatar-default.png'" alt="Logo del usuario" class="user-logo">
      <h3>Bienvenido, {{ nombre }} {{ apellido1 }} {{ apellido2 }}</h3>
      <p>Miembro desde: {{ fecharegistro | date:'dd/MM/yyyy' }}</p>
    </div>

    <!-- Notifications -->
    <div class="notification-wrapper">
      <button class="notif-btn" (click)="toggleNotifications()">
        🔔 Notifications
        <span *ngIf="hasUnreadNotifications" class="badge">
          {{ unreadNotificationsCount }}
        </span>
      </button>

      <div class="notificaciones-popup" *ngIf="showNotifications">
        <h4>Notifications</h4>
        <div *ngIf="notificationsList.length === 0">
          <p>No new notifications.</p>
        </div>

        <div *ngFor="let notif of notificationsList" class="notif-item" [class.read]="notif.read">
        <div class="notif-text">{{ notif.text }}</div>

        <!-- BOTONES DE SOLICITUD -->
        <div class="notif-actions" *ngIf="notif.type==enumBoolean.FriendRequest">
          <button class="btn-accept" (click)="addFriendFromNot(notif.id)">Accept</button>
          <button class="btn-reject" (click)="removeNotification(notif.id)">Reject</button>
        </div>

        <!-- FECHA -->
        <small class="notif-date">
          {{ (notif.date ? notif.date.toDate() : notif.date) | date:'short' }}
        </small>

        <!-- MARCAR LEÍDO
        <button *ngIf="!notif.read" class="btn-read" (click)="markRead(notif.id)">✔</button> -->
      </div>

      </div>
    </div>
    <!-- /Notifications -->

    <div class="recommendations">
      <h4>Recomendaciones para ti</h4>
      <div class="movie-grid"></div>
    </div>

    <div class="activity-feed">
      <h4>Actividad reciente</h4>
    </div>

    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
