<div class="search-container">
  <!-- Barra de búsqueda -->

  <div class="search-bar">
    <button class="close-btn" (click)="closeSearch()">✖</button>
    <input
      type="text"
      [(ngModel)]="titulo" 
      placeholder="Buscar películas o series..."
      (keyup.enter)="search()"
    />
    <button (click)="search()">🔍</button>
  </div>

  <!-- Resultados -->
  <div class="results" *ngIf="results.length > 0; else noResults">
    <h3>Resultados de {{titulo}}</h3>
    <div class="movie-grid">
      <div class="movie-card" *ngFor="let movie of results" (click)="goToDetail(movie.id)">
        <img
          [src]="getPosterUrl(movie.poster_path, 'original')"
          [alt]="movie.title"
        />
        <h4>{{movie.title }}</h4>
        <p>{{movie.release_date}}</p>
      </div>
    </div>
  </div>

  <!-- Mensaje si no hay resultados -->
  <ng-template #noResults>
    <div class="no-results" *ngIf="titulo">
      <p>No se encontraron resultados para {{titulo}}</p>
    </div>
  </ng-template>
</div>
