<div class="lists-layout">

  <!-- IZQUIERDA: Listas del usuario -->
  <div class="lists-section">
    <!-- <h2>Mis Listas</h2> -->

    <div *ngIf="lists.length === 0" class="no-lists">
      <p>Aún no has creado ninguna lista 🎬</p>
    </div>

    <div class="list-card" *ngFor="let list of lists">
      <div class="list-info"  (click)="cambiarRuta(list.id)" >
        <h3>{{ list.name }}</h3>
        <p>{{ list.description }}</p>
      </div>
      <div class="list-meta">
        <span>{{ list.movieIds.length }} películas</span>
        <small>{{ list.isPublic ? '🌍 Pública' : '🔒 Privada' }}</small>
      </div>
    </div>
  </div>

  <!-- DERECHA: Crear nueva lista -->
  <div class="create-section">
    <h2>Crear Lista</h2>
    <form (ngSubmit)="createList()" class="create-form">
      <input type="text" placeholder="Nombre de la lista" [(ngModel)]="newList.name" name="name" required />
      <textarea placeholder="Descripción" [(ngModel)]="newList.description" name="description"></textarea>
      <label>
        <input type="checkbox" [(ngModel)]="newList.isPublic" name="isPublic" />
        Lista pública
      </label>
      <button type="submit">➕ Crear</button>
    </form>
  </div>

</div>
